:root{
  --sepia: rgba(251, 240, 217, 1);
  --dark-sepia: rgba(232, 222, 201, 1);
  --dark-grey: rgba(33, 33, 33, 1);
  --grey: rgba(45, 45, 45, 1);
  --black: rgba(0, 0, 0, 1);
  --light-black: rgba(20, 20, 20, 1);
  --vibrant-black: rgba(30, 14, 29, 1);
  --vibrant-grey: rgba(216, 203, 199, 1);
  --vibrant-dark-grey: rgba(189, 177, 174, 1);
  --transparent-white: rgba(255, 255, 255, 0);
}
html {
  overflow: hidden;
}
body {
  -webkit-app-region: drag;
}
::-webkit-scrollbar { /* Scrollbar */
  width: 6px !important;
}
::-webkit-scrollbar-track { /* Scrollbar track */
  border-radius: 0px !important;
}
::-webkit-scrollbar-thumb { /* Scrollbar thumb */
  border-radius: 0px !important;
  background: #767678 !important;
}
#sidebar .sidebar-header { /* Remove box sidebar-header shadow */
  box-shadow: 0 0px 0 rgba(0,0,0,0) !important;
}
#main .addTask {
  box-shadow: none !important;
}
#main .backgroundLines {
  border-top: none !important;
}
@media all and (max-width: 540px) {
	#sidebar { /* Hide sidebar on Compact Mode */
    display: none !important;
  }
  html[dir=ltr] .themeBackground { /* Make background image cover */
    left: -280px !important;
  }
}
