fhtml.dark-mode ::-webkit-scrollbar-track { /* Scrollbar track */
  background: var(--dark-grey) !important;
}
html.dark-mode select {
  background: var(--dark-grey);
  border: 1px solid var(--dark-grey);
}
html.dark-mode #sidebar {
  background: var(--dark-grey) !important;
}
html.dark-mode .todayToolbar-item.active, html.dark-mode .todayToolbar.active {
  background: var(--grey) !important;
}
html.dark-mode .settingsSection-header, html.dark-mode .modal-settings .modal-title, html.dark-mode .editableContent-display, html.dark-mode button.notificationToast-cancelButton, html.dark-mode .notificationToast-text, html.dark-mode .modal .modal-content, html.dark-mode .editableContent-edit, html.dark-mode .datePicker-headerLabel, html.dark-mode .popover-title, html.dark-mode #detail .section-item:hover .section-description, html.dark-mode #detail .section-item:hover .section-title, html.dark-mode .editableContent.multiLine .editableContent-display, html.dark-mode .listItem .listItem-title, html.dark-mode .todayToolbar-title, html.dark-mode .userToolbar-name, html.dark-mode .taskItem-titleWrapper, html.dark-mode .taskCard-label, html.dark-mode .listItem.active .listItem-count, html.dark-mode .listItem:hover .listItem-count, html.dark-mode .addTask .addTask-input, html.dark-mode .popoverMenuItem .popoverMenuItem-label, html.dark-mode .searchToolbar input.searchToolbar-input[type=text], html.dark-mode .popover-header {
  color: #767678 !important;
}
html.dark-mode #main .main-background {
  background: var(--dark-grey) !important;
}
html.dark-mode #main .main-background {
  border-left: 1px solid var(--dark-grey) !important;
}
html.dark-mode html[dir=ltr] #main .main-background {
  background: var(--dark-grey) !important;
}
html.dark-mode .taskItem {
  background: var(--dark-grey) !important;
}
html.dark-mode .taskItem.selected .taskItem-body {
  background: var(--grey) !important;
  box-shadow: inset 0 0 0 1px var(--grey) !important;
}
html.dark-mode .taskItem:hover .taskItem-body {
  background-color: var(--grey) !important;
  box-shadow: inset 0 0 0 1px var(--grey) !important;
}
html.dark-mode .active {
  background-color: var(--grey) !important;
}
html.dark-mode .addTask {
  background: var(--dark-grey) !important;
}
html.dark-mode .listItem.active .emoji {
  background-color: var(--trasparent-white) !important;
}
html.dark-mode div.backgroundLines, html.dark-mode #detail .detail-inner {
  background: var(--trasparent-white) !important;
}
html.dark-mode .taskCard {
  background-color: var(--dark-grey) !important;
}
html.dark-mode .detailFooter .detailFooter-trash:hover, html.dark-mode .detailFooter .detailFooter-close:hover, html.dark-mode .userToolbar:hover, html.dark-mode .listItem:hover, html.dark-mode .todayToolbar:hover, html.dark-mode .searchToolbar:hover, html.dark-mode .popoverMenuItem:hover, html.dark-mode .todayToolbar-item:hover, html.dark-mode #sidebar.search-is-open .searchToolbar-icon.stop:hover {
    background-color: var(--grey) !important;
}
html.dark-mode .popover, html.dark-mode .popover-footer, html.dark-mode .popover-footerRight {
  background-color: var(--dark-grey) !important;
}
html.dark-mode #sidebar.search-is-open .sidebar-header .searchToolbar {
  background-color: var(--dark-grey) !important;
}
html.dark-mode .avatar {
  background-color: var(--dark-grey) !important;
}
html.dark-mode #detail .section, html.dark-mode .detailHeader, html.dark-mode .detailFooter {
  background-color: var(--dark-grey) !important;
}
html.dark-mode #detail .detail-body {
  background-color: var(--grey) !important;
}
html.dark-mode .editableContent-textarea {
  background-color: var(--dark-grey) !important;
}
html.dark-mode .detailHeader .detailHeader-title:hover, html.dark-mode #detail .section-item:hover, html.dark-mode #detail .section-item.detailNote:hover {
  background-color: var(--dark-grey) !important;
}
html.dark-mode #detail .detail-inner {
  background-color: var(--dark-grey) !important;
}
html.dark-mode .addList:active:hover, html.dark-mode .addList:hover, html.dark-mode .addList:hover:hover {
  background-color: var(--grey) !important;
}
html.dark-mode .datePicker-gridCell.today.active {
  border-radius: 50% !important;
}
html.dark-mode .modal {
  background-color: var(--dark-grey) !important;
}
html.dark-mode .notificationToast {
  background-color: var(--dark-grey) !important;
}
html.dark-mode .settingsSection-header {
  background-color: var(--dark-grey) !important;
}
html.dark-mode .callout {
  background-color: var(--dark-grey) !important;
}
