html.black-mode ::-webkit-scrollbar-track {
  background-color: var(--black) !important;
}
html.black-mode .sidebar, html.black-mode #main, html.black-mode .steps, html.black-mode .detailFooter {
  background-color: var(--black) !important;
}
html.black-mode .steps {
  border: 1px solid var(--black) !important;
}
html.black-mode .step .step-body {
  box-shadow: 0 1px 0 0 var(--light-black);
}
html.black-mode .details .details-separator {
  background: var(--black) !important;
  border: 1px solid var(--black) !important;
}
html.black-mode .details .section, html.black-mode .details .section-item.detailNote, html.black-mode .detailHeader {
  border: 1px solid var(--black) !important;
  background-color: var(--black) !important;
}
html.black-mode .button:hover {
  background: var(--black) !important;
}
html.black-mode .backgroundLines, html.black-mode #main .main-background, html.black-mode .rightColumn {
  background-color: var(--black) !important;
  background: var(--black) !important;
}
html.black-mode .active, html.black-mode .details, html.black-mode .details .section-item:hover {
  background: var(--light-black) !important;
}
html.black-mode .detailNote .editableContent .editableContent-edit {
  background-color: var(--light-black) !important;
  background: var(--light-black) !important;
}
html.black-mode .listItem:hover, html.black-mode .todayToolbar-item:hover, html.black-mode .baseAdd.addList:hover, html.black-mode .baseAdd.addList:active:hover, html.black-mode .baseAdd.addList:hover:hover, html.black-mode .hamburgerMenu button:hover, html.black-mode .step:hover, html.black-mode .step.selected, html.black-mode .step.selected:hover, html.black-mode .searchStep:hover .searchStep-body, html.black-mode .searchStep.selected .searchStep-body, html.black-mode .searchStep.selected:hover .searchStep-body, html.black-mode .modal-close:hover, html.black-mode .modal-return:hover {
  background-color: var(--light-black) !important;
}
html.black-mode .hamburgerMenu button:hover {
  box-shadow: 0 0 0 1px var(--light-black) !important;
}
html.black-mode .taskItem.selected .taskItem-body, html.black-mode .taskItem:hover .taskItem-body {
  background: var(--light-black) !important;
  box-shadow: inset 0 0 0 0px var(--light-black) !important;
}
html.black-mode #app > div.leftColumn.leftColumn-entered, html.black-mode #app > div.leftColumn.leftColumn-exited {
  border-right: 1px solid var(--light-black) !important;
}
html.black-mode #app > div.rightColumn.rightColumn-entered > div, html.black-mode #app > div.rightColumn.rightColumn-exited > div {
  border-left: 1px solid var(--light-black) !important;
}
html.black-mode .sidebar-footer {
  border-top: 1px solid var(--light-black) !important;
}
html.black-mode .taskItem-body, html.black-mode .collapsible-taskCard .taskCard {
  box-shadow: 0 17px 0 -16px var(--light-black) !important;
}
html.black-mode .baseAdd.addTask, html.black-mode .searchStep .searchStep-body {
  box-shadow: 0 -17px 0 -16px var(--light-black) !important;
}
html.black-mode .backgroundLines {
  border-top: 1px solid var(--light-black);
}
html.black-mode .backgroundLines {
  border-top: 1px solid var(--light-black);
}
html.black-mode .detailFooter {
  border-top: 1px solid var(--light-black);
}
html.black-mode .detailFooter .detailFooter-close:hover, .detailFooter .detailFooter-trash:hover {
  background-color: var(--light-black) !important;
}
html.black-mode .modal, html.black-mode .popover, html.black-mode .popoverMenuItem:hover, html.black-mode .isOpen, html.black-mode .notificationToast, html.black-mode .datePicker-header, html.black-mode .popover-footerRight, html.black-mode .timePicker-input {
  background: var(--light-black) !important;
}
html.black-mode .notificationToast-postponeButton {
  border-bottom: 1px solid var(--black) !important;
}
html.black-mode .notificationToast-buttons button {
  border-left: 1px solid var(--black) !important;
}
html.black-mode .popover-header, html.black-mode .popover-footer, html.black-mode .popover-headerLeft, html.black-mode .popover-footerRight, html.black-mode .modal-sharing .modal-header {
  border-bottom: 1px solid var(--black) !important;
}
html.black-mode .modal-sharing .shared .modal-footer {
  border-top: 1px solid var(--black) !important;
}
html.black-mode .sidebar-addList-fixed {
  box-shadow: 0 -1px 0 var(--light-black) !important;
}
