:root {
  --sepia: rgba(251, 240, 217, 1);
  --dark-sepia: rgba(232, 222, 201, 1);
  --dark-grey: rgba(33, 33, 33, 1);
  --grey: rgba(45, 45, 45, 1);
  --black: rgba(0, 0, 0, 1);
  --light-black: rgba(20, 20, 20, 1);
}
html {
  overflow: hidden;
}
body {
  -webkit-app-region: drag;
}
#O365_MainLink_NavMenu, #O365_AppName {
  visibility: hidden !important;
}
::-webkit-scrollbar {
  width: 6px !important;
}
::-webkit-scrollbar-track {
  border-radius: 0px !important;
}
::-webkit-scrollbar-thumb {
  border-radius: 0px !important;
  background: #767678 !important;
}
.keyboardNavigation .listItem:focus {
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0) !important;
}
html.side-bar-hidden .leftColumn {
  display: none !important;
}
html.side-bar-hidden #container.leftColumn-overlaid #app {
  padding-left: 0px !important;
}
@media all and (max-width: 620px) {
  .leftColumn, #owaToDoButton, #todoWhatsNewBtn {
    display: none !important;
  }
  #container.leftColumn-overlaid #app {
    padding-left: 0px !important;
  }
}

/* Fixed the white icon background issue in darkmode */
.listItem .listItem-icon {
  background-color: transparent !important;
}
